body {
    background: url("https://data.whicdn.com/images/286433212/large.jpg");
font-size: 30px;
text-align: center;}

h2{font-family: 'Charmonman', cursive;}

h1{font-family: 'Dancing Script', cursive;
}